* {
    padding: 0;
    margin: 0;
}
body {
    background: url(assets/bg.png);
    font-family: Helvetica, "Trebuchet MS", sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
#container{
    
    background: #ede9cc url(assets/bg-container.png) center ;
    min-width: 740px;
    max-width: 1180px;
    margin: 10px auto;

}
/*Topo*/
#topo {
    position: relative;
    height: 250px;
}
#area-logo{
    background: url(assets/topo-imagem-principal.png) no-repeat;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#area-logo img{
    padding: 10px;
}
#area-navbar{
    background: url(assets/topo-imagem-lateral.png);
    height: 250px;
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
#conteudo-navbar{
    position: relative;
    margin-left: 90px;
    margin-top: 15px;
    margin-right: 10px;
}
#conteudo-topo-navbar{
    border-bottom: 1px solid #b5ab56;
	border-top: 1px solid #b5ab56;
    padding-top: 5px;
	padding-bottom: 5px;
}
#conteudo-topo-navbar span{
    font-size: 0.7em;
    color: #a29750;
    line-height: 2.1em;

}
#conteudo-topo-navbar a{
    float: right;
    color: white;
    background-color: #a29750;
    padding: 5px 10px;
    font-size: 0.7em;
    text-transform: uppercase;
}
#links {
    padding-top: 25px;
}
#links li{
    
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
}
#links a{
    padding: 5px;
    color: #80763c;
    font-weight: 400;
}
#links a:hover{
    background-color: #f1ecaa;
}

#logo-menssagem{
    position: absolute;
    right: 0;
    bottom: 0;
}
/*Area principal*/
#area-principal{
    float: left;
    width: 50%;
    background: url(assets/bg-area-principal.png) repeat-x;
}
#area-conteudo-principal{
    padding: 20px 30px;
}
#area-conteudo-principal h1{
    font-size: 1.1em;
    padding-bottom: 5px;
    color:#80763c;
}

/*Area Lateral*/
#area-lateral-direito{
    float: right;
    width: 50%;
    background: url(assets/bg-area-lateral.png) repeat-x ;
}
#area-lateral-conteudo{
    padding: 20px 30px;
}

.post a:hover{
    display: block;
    background-color: #f1ecaa;
}

.post img{
    width: 150px;
    padding-right: 10px;
    float: left;
    padding: 8px;
}
.post-conteudo-lateral{
    padding: 8px;
    padding-bottom: 31px;
    border-bottom: #ede9cc 1px solid;
}
.post h2{
    margin-left: 170px;
    margin-bottom: 5px;
    font-size: 1em;
    color: #645c2f;
    background: url(assets/ornamento.png) no-repeat center right;
}
.post p{
    font-size: 0.8em;
}
/*Rodapé*/
#footer{
    padding: 15px;
    color: #80763c;
    background: white url(assets/bg-rodape.png)repeat-x;
    clear: both;
}
